* {
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to left top, #282828, #24242c, #1e202f, #151c33, #051937);
}

h2{
    font-size: 18px;
}

.spotify-container {
    padding: 0 10px;
    display: flex;
    justify-content: center;

}

.spotify-container iframe {
    border-radius: 20px;
    max-width: calc(100% - 40px);
    height: 350px;
}

@media (min-width: 1024px) {
    .spotify-container iframe {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .spotify-container iframe {
        width: 100%;
    }
}

#about-section {
    min-height: 50vh;
    margin-top: -200px;
}

h1, h2, p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p {
    font-size: 16px;
    font-weight: 200 !important;
}

@media (max-width: 767px) {
    h1 {
        text-align: center !important;
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-up {
    animation: fade-up 2s ease;
}

@media (max-width: 768px) {
    .grid-cols-1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .grid-cols-3 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.tabs {
        display: flex;
        flex-wrap: wrap;
    }
    
    .tab-label {
        flex: 1;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        background-color: #333;
        color: #fff;
        transition: background-color 0.3s;
    }
    
    .tab-label:hover {
        background-color: #555;
    }
    
    .tab-content {
        display: none;
        width: 100%;
        padding: 20px;
        background-color: #f9f9f9;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    input[type="radio"]:checked + label {
        background-color: #555;
    }
    
    input[type="radio"]:checked ~ .tab-content {
        display: block;
    }

    @media (min-width: 768px) {
        .lg:flex {
            flex-direction: row-reverse;
        }

        .lg:-mx-12 {
            margin-right: -3rem;
        }

        .flex-1 {
            width: 50%;
        }
    }

@keyframes crawl {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.block {
    text-align: center;
}

.experience-list {
    padding-left: 20px;
}

.experience-list li {
    margin-bottom: 15px;
}


.experience-icon {
    margin: 0 auto;
}

.icon-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Professional icon {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.icon-item img {
    width: 50px;
    text-align: center;
    height: auto;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.star {
    color: #FFD700;
    font-size: 20px;
    margin-right: 3px;
}

#contact-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact-section .flex {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact-section .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#contact-section .social-icons a {
    margin: 2.5rem;
    transition: transform 0.3s ease-in-out;
}

#contact-section .social-icons a:hover {
    transform: scale(1.5);
}

.social-icons .fa-instagram {
    color: #d11d4a;
}

.social-icons .fa-twitter {
    color: #1DA1F2;
}

.social-icons .fa-github {
    color: #cfcdcd;
}

@media only screen and (max-width: 600px) {

    #contact-section .social-icons {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 600px) {
    .text-one {
        border-bottom: 2px solid #8E24AA;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }


    .text-one + p {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
  .styled-dashboard-mobile-border {
    border-bottom: 2px solid #8E24AA;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}