* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left top, #282828, #24242c, #1e202f, #151c33, #051937);
}

h2 {
    font-size: 18px;
}

.spotify-container {
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.spotify-container iframe {
    border-radius: 20px;
    max-width: calc(100% - 40px);
    height: 350px;
}

@media (min-width: 1024px) {
    .spotify-container iframe {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .spotify-container iframe {
        width: 100%;
    }

    .grid-cols-1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lg:flex {
        flex-direction: row-reverse;
    }

    .lg:-mx-12 {
        margin-right: -3rem;
    }

    .flex-1 {
        width: 50%;
    }

    .styled-dashboard-mobile-border {
        border-bottom: 2px solid #8E24AA;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #contact-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
        justify-content: center;
        text-align: center;
    }

    .cv-button {
        margin: auto;
        width: -moz-fit-content;
        width: fit-content;
        color: #ffffff;
        margin-bottom: 90px;
    }

    h1 {
        text-align: center !important;
    }

    .text-one {
        border-bottom: 2px solid #8E24AA;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .text-one + p {
        margin-top: 20px;
    }

    .tabs {
        display: flex;
        flex-wrap: wrap;
    }

    .tab-label {
        flex: 1;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        background-color: #333;
        color: #fff;
        transition: background-color 0.3s;
    }

    .tab-label:hover {
        background-color: #555;
    }

    .tab-content {
        display: none;
        width: 100%;
        padding: 20px;
        background-color: #f9f9f9;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + label {
        background-color: #555;
    }

    input[type="radio"]:checked ~ .tab-content {
        display: block;
    }
}

#about-section {
    min-height: 50vh;
    margin-top: -200px;
}

h1,
h2,
p {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: 16px;
    font-weight: 200 !important;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-up {
    animation: fade-up 2s ease;
}

@media (min-width: 768px) {
    .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .grid-cols-3 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@keyframes crawl {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.block {
    text-align: center;
}

.experience-list {
    padding-left: 20px;
}

.experience-list li {
    margin-bottom: 15px;
}

.experience-icon {
    margin: 0 auto;
}

.icon-item,
.Professional icon {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.icon-item img {
    width: 50px;
    text-align: center;
    height: auto;
}

/* styles.css */

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-6 {
    gap: 1.5rem;
}

.icon-item {
    position: relative;
}

.progress-bar {
    width: 100%;
    background-color: #d1d5db;
    border-radius: 10px;
    margin-top: 20px;
}

.progress {
    height: .5rem;
    border-radius: 10px;
}

.html-progress .progress {
    background-color: #8a2be2;
    width: 80%;
}

.css-progress .progress {
    background-color: #8a2be2;
    width: 80%;
}

.bootstrap-progress .progress {
    background-color: #8a2be2;
    width: 85%;
}

.tailwind-progress .progress {
    background-color: #8a2be2;
    width: 90%;
}

.javascript-progress .progress {
    background-color: #8a2be2;
    width: 30%;
}

.github-progress .progress {
    background-color: #8a2be2;
    width: 75%;
}

.hubspot-progress .progress {
    background-color: #8a2be2;
    width: 80%;
}

.slack-progress .progress {
    background-color: #8a2be2;
    width: 100%;
}

.customer-service-progress .progress {
    background-color: #8a2be2;
    width: 100%;
}

.cv-button {
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    color: #ffffff;
    margin-bottom: 90px;
}

#contact-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    justify-content: center;
    text-align: center;
}

#contact-section .flex {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact-section .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#contact-section .social-icons a {
    margin: 2.5rem;
    transition: transform 0.3s ease-in-out;
}

#contact-section .social-icons a:hover {
    transform: scale(1.5);
}

.social-icons .fa-instagram {
    color: #d11d4a;
}

.social-icons .fa-twitter {
    color: #1DA1F2;
}

.social-icons .fa-github {
    color: #cfcdcd;
}

@media only screen and (max-width: 640px) {
    #contact-section .social-icons {
        justify-content: space-around;
    }
}